body {
    font-family: cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grade', 'Lucida Sans', Arial, sans-serif; 
}

.main-color {
    background-color: #003161 !important;
}

.banner {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../dipake/banner4.jpg');
    background-size: cover;
    background-position-x: center; background-position-y: 50cm;
} 

.hovered-card {
    transition: 0.3s;
}

.hovered-card:hover {
    transform: scale(1.1);
}

.icon-service {
    width: 90px;
    height: 90px;
    border: solid #fff;
    border-radius: 50%;
    color:#fff
}

.content-subscribe {
    background-color: rgba(0, 0, 0, 0.8);
}

.banner-menu {
    height: 55vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../dipake/bbq.jpg');
    background-size: cover;
    background-position-x: center; background-position-y: 50cm;
} 

.banner-promo {
    height: 55vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../dipake/banner2.jpg');
    background-size: cover;
    background-position-x: center; background-position-y: 50cm;
}